In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('merged_recipes_yelp.csv')

In [3]:
df.head()

,name_x,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,arriba baked winter squash mexican style,0,55,47892,9/16/2005,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,...,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,a bit different breakfast pizza,1,30,26278,6/17/2002,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,...,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,all in the kitchen chili,2,130,196586,2/25/2005,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,...,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,alouette potatoes,3,45,68585,4/14/2003,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...",...,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,amish tomato ketchup for canning,4,190,41706,10/25/2002,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,...,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [4]:
df.shape

(150346, 25)

In [5]:
df.name_y

0         Abby Rappoport, LAC, CMQ
1                    The UPS Store
2                           Target
3               St Honore Pastries
4         Perkiomen Valley Brewery
                    ...
150341                Binh's Nails
150342        Wild Birds Unlimited
150343           Claire's Boutique
150344    Cyclery & Fitness Center
150345                     Sic Ink
Name: name_y, Length: 150346, dtype: object

In [6]:
df.submitted

0          9/16/2005
1          6/17/2002
2          2/25/2005
3          4/14/2003
4         10/25/2002
             ...
150341     7/22/2004
150342    11/20/2007
150343     5/29/2006
150344     3/27/2004
150345     8/26/2002
Name: submitted, Length: 150346, dtype: object

In [7]:
df.rename(columns={'name_x':'recipe_name','name_y':'restaurant'},inplace=True)

In [8]:
df.drop(columns=['contributor_id','submitted','tags','description'],inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   recipe_name    150345 non-null  object
 1   id             150346 non-null  int64
 2   minutes        150346 non-null  int64
 3   nutrition      150346 non-null  object
 4   n_steps        150346 non-null  int64
 5   steps          150346 non-null  object
 6   ingredients    150346 non-null  object
 7   n_ingredients  150346 non-null  int64
 8   restaurant     150346 non-null  object
 9   address        145219 non-null  object
 10  city           150346 non-null  object
 11  state          150346 non-null  object
 12  postal_code    150273 non-null  object
 13  latitude       150346 non-null  float64
 14  longitude      150346 non-null  float64
 15  stars          150346 non-null  float64
 16  review_count   150346 non-null  int64
 17  is_open        150346 non-null  int64
 18  attributes     136602 non-null  object
 19  categories     150243 non-null  object
 20  hours          127123 non-null  object
dtypes: float64(3), int64(6), object(12)
memory usage: 24.1+ MB

In [1]:
from gensim.models import KeyedVectors

In [2]:
pip install Flask

Requirement already satisfied: Flask in c:\users\acer\anaconda3\lib\site-packages (1.1.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: Werkzeug>=0.15 in c:\users\acer\anaconda3\lib\site-packages (from Flask) (2.0.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\acer\anaconda3\lib\site-packages (from Flask) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\acer\anaconda3\lib\site-packages (from Flask) (2.2.0)
Requirement already satisfied: click>=5.1 in c:\users\acer\anaconda3\lib\site-packages (from Flask) (8.1.7)
Requirement already satisfied: colorama in c:\users\acer\anaconda3\lib\site-packages (from click>=5.1->Flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\acer\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask) (2.0.1)

WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\acer\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\acer\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\acer\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\acer\anaconda3\lib\site-packages)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip